.form-container {
  width: 600px;
  border: 1px solid #95a0a7;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.form-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  color: #2a414f;
  text-align: center;
}
.input-group {
  margin-bottom: 20px;
}
.input-group label {
  display: block;
  margin-left: 5px;
  margin-bottom: 5px;
}
.input-group input {
  width: 415px;
  height: 55px;
  font-size: 24px;
  border: 1px solid #95a0a7;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 5px;
}
.form-submit {
  width: 415px;
  height: 55px;
  background-color: rgba(255, 153, 0, 0.3);
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
}
.form-submit:hover {
  background-color: rgba(255, 153, 0, 0.7);
}
.form-link {
  color: #ff9900;
  text-decoration: none;
  text-align: center;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}
.extra {
  text-align: center;
}
